@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

body{
	background:grey;
}

header #logo{
	text-align: center;
	font: bold 1em 'Share Tech Mono',Helvetica,sans-serif;
	color: rgb(52,157,235);
	text-shadow: 0 2px 3px #000
}

#logo img{
	display: block;
	margin-left: 2em;
	margin-right: auto;
	width: 200px;
	height: 200px;
}
#content{
	text-align: center;
	font: bold 1em 'Share Tech Mono',Helvetica,sans-serif;
}

#about h4{
	font: bold 1em 'Share Tech Mono',Helvetica,sans-serif;
	color: rgb(52,157,235);
	text-shadow: 0 2px 3px #000;
	text-align: justify;
	text-indent: 15%;
}

#about p{
	display: block;
	text-align: justify;
	margin-top: 0px;
	margin-left: 15%;
	margin-right: 15%git;
	margin-bottom: 0px;
	font: 1em Helvetica,sans-serif;
}

#services-offered h4{
	font: bold 1em 'Share Tech Mono',Helvetica,sans-serif;
	color: rgb(52,157,235);
	text-shadow: 0 2px 3px #000;
	text-align: justify;
	text-indent: 15%;
}

#services-offered p{
	display: block;
	text-align: justify;
	margin-top: 0px;
	margin-left: 15%;
	margin-right: 15%git;
	margin-bottom: 0px;
	font: 1em Helvetica,sans-serif;
}

#services-offered ul{
	display: block;
	text-align: justify;
	margin-top: 0px;
	margin-left: 15%;
	margin-right: 15%git;
	margin-bottom: 0px;
	font: 1em Helvetica,sans-serif;
}
}