@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

body{
	background:grey;
}

header{
	font: bold 1em 'Share Tech Mono',Helvetica,sans-serif;
	color: rgb(52,157,235);
	text-shadow: 0 2px 3px #000;
	text-align: center;
	text-indent: 15%;
}

h4{
	font: bold 1em 'Share Tech Mono',Helvetica,sans-serif;
	color: rgb(52,157,235);
	text-shadow: 0 2px 3px #000;
	text-align: justify;
	text-indent: 15%;
}

 p{
	text-align: justify;
	margin: 0px 15%;
	font: 1em Helvetica,sans-serif;
}

#logo img{
	display: block;
	float: left;
	margin-left: 15%;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

nav{
	clear:left;
	display:block;
	text-align: center;
	font: bold 1em 'Share Tech Mono',Helvetica,sans-serif;
}




#services-offered p{
	display: block;
	text-align: justify;
	margin: 0px 15%;
	font: 1em Helvetica,sans-serif;
}

#services-offered h5{
	display: block;
	text-align: justify;
	margin: 1% 17%;
	font: bold 1em 'Share Tech Mono',Helvetica,sans-serif;
	color: rgb(41,123,184);
	text-shadow: 0 2px 3px #000;
	
}

#services-offered ul{
	display: block;
	text-align: justify;
	margin: 1% 17%;
	font: 1em Helvetica,sans-serif;
	color:rgb(41,123,184);
}

#talk p{
	display: block;
	text-align: justify;
	margin: 0% 15%;
	font: italic 1em Helvetica,sans-serif;
}

#contact form{
	display:block;
	margin:0% 15%;
}

#contact form>label{
	font: bold 1em 'Share Tech Mono',Helvetica,sans-serif;
	color: rgb(41,123,184);
	text-shadow: 0 2px 3px #000;
	text-align: justify;
}


#useful-links a{
	font: bold 1em 'Share Tech Mono',Helvetica,sans-serif;
	display:block;
	text-align: justify;
	margin: 0% 15%;
}

/* /////////////////////////// Layout //////////////////////*/